{% extends "base.html" %}
{% load static %}

{% block home %}
<link rel="stylesheet" href="{% static 'css/inventoryadd.css' %}">
<div class="active inventoryadd">
	<div class="filler"></div>
	<h2>Add product</h2>
	<form method="POST">
		{% csrf_token %}
		<div class="bigcard">
			<div class="bigcard1">
				<h3>Enter Product Name</h3><input type='text' name='itemname' required>
				<h3>Enter Manufacture Date</h3><input type="text" name="manufacturingdate" placeholder="YYYY-MM-DD" onkeypress="return event.charCode>= 48 && event.charCode<= 57 || event.charCode==45" required>
				<h3>Enter Expiry Date</h3><input type="text" name="expirydate" placeholder="YYYY-MM-DD" onkeypress="return ((event.charCode>= 48 && event.charCode<= 57) || event.charCode==45)" required>
				<h3>Enter Product Description</h3><input type='text' name='description' required>
			</div>
			<div class="bigcard2">
				<div class="inputfield">
					<label>Type</label>
					<div class="custom_select">
					   <select name='category'>
					   <option value="liquid">Liquid</option>
					   <option value="capsules">Capsules</option>
					   <option value="tablets">Tablets</option>
					   <option value="inhaler">Inhaler</option>
					   <option value="injection">Injection</option>
					   </select>
					</div>
				 </div>
				<h3>Quantity</h3><input type="text" name="quantity" onkeypress="return event.charCode>= 48 && event.charCode<= 57" required>
				<h3>Price</h3><input type="text" name="price" onkeypress="return event.charCode>= 48 && event.charCode<= 57" required>
				<h3>Discount</h3><input type="text" name="discount" onkeypress="return event.charCode>= 48 && event.charCode<= 57" required>
				<p></p>
				<input type="submit" value="Add">
			</div>
		</div>
	</form>
</div>

{% endblock home %}