{% extends "base.html" %}
{% load static %}

{% block home %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="container loginsection">
    <div class="bluebg">
        <div class="box signin">
            <h2>OPERATOR ?</h2>
            <button class="signinbtn">LOGIN</button>
        </div>   
        <div class="box signup">
            <h2>ADMINISTRATOR ? </h2>
                <!-- <a href="http://127.0.0.1:8000/admin/">LOGIN</button> -->
            </div>  
    </div>
    <div class="formbx">
        <div class="form signinform">
            <form method="POST">
                {% csrf_token %}
                <h3>LOGIN</h3>
                <input type="text" placeholder="username" name="username">
                <input type="password" placeholder="password" name="password">
                <input type="submit" value="Login">
            </form>
        </div>      
    </div>
</div>

<!-- <script>
const signinbtn = document.querySelector('.signinbtn');
const signupbtn = document.querySelector('.signupbtn');
const formbx = document.querySelector('.formbx');
const body = document.querySelector('body')


signupbtn.onclick = function(){
    formbx.classList.add('active');
    body.classList.add('active');
}

signinbtn.onclick = function(){
    formbx.classList.remove('active');
    body.classList.remove('active');
}

</script> -->
{% endblock home %}