{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="{% static 'img/logo.jpg' %}" alt="">
        <h4>Contact</h4>
        <p> <i class="fa-solid fa-location-dot"></i>  <strong>Address:</strong>VIT,Vellore</p>
        <p> <i class="fa-solid fa-phone"></i>  <strong>Phone:</strong>1800-123-4567(Toll free)</p>
        <p> <i class="fa-solid fa-envelope"></i>  <strong>Mail:</strong>help@pharmawebsite.com</p>
    </div>
    <div class="col">
    <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Disclaimer</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Contact Us</a>
    </div>
</div>
<div class="col">
<h4>My Account</h4>
<a href="#">Sign In</a>
<a href="#">View Cart</a>
<a href="#">Help</a>
</div>
</footer>