{% extends "base.html" %}
{% load static %}

{% block home %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<section id="hero">
    <h4>Welcome to Pharma</h4>
    <h2>Best deals </h2>
    <h1>On all medicines</h1>
    <p>Save more, (15 - 30)% off on all medicines</p>
    <button>Buy now</button>
</section>
<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="{% static 'img/homepage/features/f1.jpg' %}" alt="">
        <h6>Customer management</h6>
        
    </div>
    <div class="fe-box">
        <img src="{% static 'img/homepage/features/f1.jpg' %}" alt="">
        <h6>Customer management</h6>
        
    </div>
    <div class="fe-box">
        <img src="{% static 'img/homepage/features/f1.jpg' %}" alt="">
        <h6>Customer management</h6>
        
    </div>
    <div class="fe-box">
        <img src="{% static 'img/homepage/features/f1.jpg' %}" alt="">
        <h6>Customer management</h6>
        
    </div>
    <div class="fe-box">
        <img src="{% static 'img/homepage/features/f1.jpg' %}" alt="">
        <h6>Customer management</h6>
        
    </div>
    <div class="fe-box">
        <img src="{% static 'img/homepage/features/f1.jpg' %}" alt="">
        <h6>Customer management</h6>
        
    </div>
</section>
{% endblock home %}